@model StudentMigrations.Models.Student

<div>
	<h3>Students List</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Age</th>
				<th>GPA</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var student in ViewBag.Students)
			{
				<tr>
					<td>@student.Name</td>
					<td>@student.Surname</td>
					<td>@student.Age</td>
					<td>@student.GPA</td>
					<td>@student.Weight</td>
				</tr>
			}
		</tbody>
	</table>
</div>